.vscode
cutouts/*
Good_Cutouts
Images/*
masks/*
models/*
svg/*
svg_BW
svg_to_png
sam_vit_*
retinanet_resnet50_fpn_coco-eeacb38b.pth
video_images/*
yolo*
__pycache__/
*.jpg
*.png
cutout_generator-*
Terraform/.terraform

